body {
  font-family: "Montserrat", sans-serif;
}

/****************** HEADER *******************/
/* Navbar */
.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-family: "Montserrat light", sans-serif;
  font-size: 1.1rem;
}

/* Title */
h1 {
  font-family: "Montserrat Black", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.rotate-img {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  right: 22.5%;
}

/* @media <type> <feature> */
@media (max-width: 990px) {
  .rotate-img {
    position: static;
    transform: rotate(0deg);
    width: 60%;
  }
}

#title {
  background-color: #ff4c68;
  color: white;
}

/****************** FEATURES *******************/
.features-col {
  padding: 8% 3%;
}

.features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-headline {
  font-weight: bold;
  font-size: 1.1rem;
}

.features-subheadline {
  color: #8f8f8f;
  font-size: 0.85rem;
}

#features {
  background-color: white;
  padding-top: 3%;
  position: relative;
}

/****************** TESTIMONIALS *******************/
h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 30px;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-control-prev {
  margin-left: -20%;
}

.carousel-control-next {
  margin-right: -20%;
}

#testimonials {
  background-color: #ef8172;
  color: white;
}

/****************** PRESS *******************/
.press-img {
  margin: 0 20px 40px;
  width: 20%;
}

#press {
  background-color: #ef8172;
}

/****************** PRICING *******************/
.card-col {
  margin-top: 50px;
}

#pricing {
  margin-top: 100px;
  margin-bottom: 100px;
}


/****************** CALL TO ACTION *******************/
.call-to-action {
  color: white;
  font-family: "Montserrat Black", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

#cta {
  background-color: #ff4c68;
  padding: 4% 4%;
}


/****************** FOOTER *******************/
#footer {
  background-color: white;
  padding-top: 4%;
}

#copywright {
  color: #8f8f8f;
  font-size: 0.85rem;
}


